<form class="main-party-box">
  <div class="item-a">
    <ul class="item-list inventory-list">
      {{#each items}}
      <li class="item flexrow">
        <div class="party-item-img" style="background-image: url('{{img}}')"></div>
        <h4>{{name}}</h4>
        <h4>{{system.quantity}}</h4>
      </li>
      {{/each}}
    </ul>
  </div>
  <div class="item-b">
    <ul class="item-list inventory-list">
      {{#each items}}
      <li class="item flexrow">
        <div class="party-item-img" style="background-image: url('{{img}}')"></div>
        <h4>{{name}}</h4>
        <h4>{{system.quantity}}</h4>
      </li>
      {{/each}}
    </ul>
  </div>
  <div class="item-c">
    <ul class="item-list inventory-list">
      {{#each items}}
      <li class="item flexrow">
        <div class="party-item-img" style="background-image: url('{{img}}')"></div>
        <h4>{{name}}</h4>
        <h4>{{system.quantity}}</h4>
      </li>
      {{/each}}
    </ul>
  </div>
  <div class="item-d">
    <ul class="item-list inventory-list">
      {{#each items}}
      <li class="item flexrow">
        <div class="party-item-img" style="background-image: url('{{img}}')"></div>
        <h4>{{name}}</h4>
        <h4>{{system.quantity}}</h4>
      </li>
      {{/each}}
    </ul>
  </div>
</form>